/* manipulates all headers */
.rbc-header {
  padding: 10px;
  font-size: 12px;
  span {
    text-transform: uppercase;
  }
}

/* manipulates the month header */
.rbc-month-header {
  background-color: #f3f3f3;
  border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  font-size: smaller;
}

/* changes the border of the month view */
.rbc-month-view {
  border-radius: 10px;
}

/* refers to the unavailable dates in the month */
.rbc-off-range-bg {
  background: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.1) 0px,
    rgba(0, 0, 0, 0.1) 5px,
    transparent 5px,
    transparent 15px
  );
}

.rbc-event {
  padding: 0;
  margin: 0;
  border: none;
  align-self: baseline;
  background-color: transparent;
}

.rbc-event-label {
  display: none;
}

/* manipulates the event container */
.rbc-events-container {
  border: none;
  width: 100%;
}

/* changes the heigh of the time slots in day view */
.rbc-timeslot-group {
  min-height: 60px;
}

.rbc-btn-group {
  background-color: white;
}
